Source: ros-kinetic-roswww
Section: misc
Priority: extra
Maintainer: Isaac I.Y. Saito <iisaito@kinugarage.com>
Build-Depends: debhelper (>= 9.0.0), phantomjs, python-catkin-pkg, ros-kinetic-catkin, ros-kinetic-rostest
Homepage: http://wiki.ros.org/roswww
Standards-Version: 3.9.2

Package: ros-kinetic-roswww
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rosbridge-server, ros-kinetic-rosgraph, ros-kinetic-rospack
Description: Feathery lightweight web server for ROS, that is based on Tornado web server module.
